p#pogrubienie_bielecki{
    color: #825dce;
    font-size: 33px;
}
p#pochylona_bielecki{
    color: #e6c16a;
    font-size: 38px;
}
p#index_gorny_bielecki{
    color: #968f1a;
    font-size: 0.4cm;
}
p#index_dolny_bielecki{
    color: rgb(20%, 95%, 89%);
    font-size: 0.6cm;
}
p#mono_bielecki{
    color: #16df6a;
    font-size: 43px;
}
p#powiekszenie_bielecki{
    color: #503f9c;
}
p#pomniejszenie_bielecki{
    color: rgb(71%, 64%, 22%);
}